<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/StyleSheets/style.css">
  <title>About</title>
</head>

<body>

  <section class="about-main" id="about">
      <div class="aboutimg">
        <img src="/Assets/Images/about.png" alt="" />
      </div>
      <div class="aboutcontent">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Software Developer!</h3>
        <p>
          I am a dedicated and detail-oriented developer with a passion for
          creating intuitive and efficient web applications. My background in
          full-stack development with the MERN stack has given me a solid
          understanding of both frontend and backend technologies. Now, I
          specialize in building responsive and scalable web apps using
          JavaScript. I enjoy turning ideas into real-world applications, with
          a focus on performance, user experience, and clean code..
        </p>
        <a href="/Assets/Resume/JunaidFarooq_Resume .docx.pdf" target="_blank" class="btn">Read More</a>
      </div>
  </section>

</body>

</html>