<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/StyleSheets/style.css">
  <title>Education</title>
</head>

<body>

  <section class="education" id="education">
    <div>

      <h2 class="heading-edu">Education</h2>

      <div class="timeline-items">

        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">Aug 2022 - June 2026</div>
          <div class="timeline-content">
            <h3>The Islamia University of Bahawalpur</h3>
            <p>
              Bachelor's degree, Computer Software Engineering <br />
              <i>Grade: 3.73 CGPA</i>
            </p>
          </div>

        </div>

        <div class="timeline-item">

          <div class="timeline-dot"></div>
          <div class="timeline-date">Apr 2020 - Apr 2022</div>
          <div class="timeline-content">
            <h3>Punjab Group Of Colleges, KhanPur</h3>
            <p>
              FSC, Pre-Engineering <br />
              <i>Grade: 67.64%</i>
            </p>
          </div>

        </div>

        <div class="timeline-item">

          <div class="timeline-dot"></div>
          <div class="timeline-date">Apr 2018 - Apr 2020</div>
          <div class="timeline-content">
            <h3>Govt. Higher / Secondary School, Feroza</h3>
            <p>
              Matriculation <br />
              <i>Grade: 81.64%</i>
            </p>
          </div>

        </div>

      </div>

    </div>

  </section>

</body>

</html>