<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/StyleSheets/style.css">
  <title>Projects</title>
</head>

<body>

  <section class="projects" id="projects">

    <h2 class="heading">Latest <span>Projects</span></h2>

    <div class="portfolio-container">

      <div class="portfolio-box">
        <img class="pimg" src="/Assets/Images/portfolio1.jpg" alt="" />
        <div class="portfolio-layer">
          <h4>Login and Register page</h4>
          <p>HTML, CSS</p>
          <a href="https://muhammadjunaidfarooq.github.io/Login-Signup_page/" target="_blank"><i
              class="bx bx-link-external"></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img class="pimg" src="/Assets/Images/portfolio2.jpg" alt="" />
        <div class="portfolio-layer">
          <h4>Simple To Do App</h4>
          <p>HTML, CSS, JavaScript</p>
          <a href="https://muhammadjunaidfarooq.github.io/Simple-Todo-App/" target="_blank"><i
              class="bx bx-link-external"></i></a>
        </div>
      </div>

      <div class="portfolio-box">
        <img class="pimg" src="/Assets/Images/portfolio3.jpg" alt="" />
        <div class="portfolio-layer">
          <h4>Simon Says Game</h4>
          <p>HTML, CSS, JavaScript</p>
          <a href="https://muhammadjunaidfarooq.github.io/Simon-Says-Game/" target="_blank"><i
              class="bx bx-link-external"></i></a>
        </div>
      </div>

    </div>

  </section>

</body>

</html>