<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/StyleSheets/style.css">
  <title>Services</title>
</head>

<body>

  <section class="services" id="service">

    <h2 class="heading">My <span>Services</span></h2>

    <div class="services-container">

      <div class="services-box">
        <i class="bx bxl-android"></i>
        <h3>Front-End Development</h3>
        <p>React, CSS and BootStrap</p>
        <a href="https://github.com/muhammadjunaidfarooq" class="btn">Read More</a>
      </div>

      <div class="services-box">
        <i class="bx bx-code-alt"></i>
        <h3>Backe-End Development</h3>
        <p>
          With the experties of Node.js, Express js and Databases- SQl, MongoDB
        </p>
        <a href="https://github.com/muhammadjunaidfarooq" class="btn">Read More</a>
      </div>

      <div class="services-box">
        <i class='bx bxs-paint'></i>
        <h3>Full Stack Development</h3>
        <p>MERN Stack Development & Clean, modern frontend websites with
          responsive and optimized layouts using HTML/CSS/JS.</p>
        <a href="https://github.com/muhammadjunaidfarooq" class="btn">Read More</a>
      </div>

    </div>

  </section>

</body>

</html>