* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #0f111a;
  --second-bg-color: #1f212e;
  --text-color: #c5c6c7;
  --main-color: #00adb5;
  --cta-color: #f9a826;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.03);
}

.logo span {
  color: var(--main-color);
  text-shadow: 0 0 15px var(--main-color);
}


.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3rem;
  color: var(--main-color);
  display: none;
}

/* ---- home ---- */

.home {
  min-height: 100vh;
  padding: 10rem 9% 2rem 9%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.4;
}

.home-content p {
  font-size: 1.7rem;
  line-height: 1.4;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--bg-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.2s ease-in-out;
}

.social-icons a:hover {
  box-shadow: 0 0 0.3rem var(--main-color);
  transform: scale(1.08) translateY(-1px);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 0.4rem var(--main-color);
  font-size: 1.3rem;
  color: black;
  letter-spacing: 0.1rem;
  border: 1px solid transparent;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: none;
}

.home-img img {
  width: 30vw;
  height: 750px;
  animation: floatImage 5s ease-in-out infinite;
  cursor: pointer;
}


@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

/*---- About ---- */

.about-main {
  min-height: 100vh;
  padding: 10rem 9% 2rem 9%;
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.aboutimg img {
  width: 30vw;
  height: 600px;
}

.aboutcontent h2 {
  text-align: left;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.4;
}

.aboutcontent h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.aboutcontent p {
  font-size: 1.7rem;
  line-height: 1.4;
  margin: 2rem 0 2rem 0;

}

/* ---- Education ---- */

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 9% 0 9%;
  background: var(--bg-color);
}

.heading-edu {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.4;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.timeline-content {
  background-color: var(--second-bg-color);
  border: 2px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px solid var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px var(--main-color);
}

/*---- Skills ----*/

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 9% 0 9%;
  background: var(--second-bg-color);
}

span {
  color: var(--main-color);
}

.professional-skills {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.skill {
  display: inline-flex;
  flex-direction: col;
  justify-content: center;
  align-items: center;
  width: 19rem;
  background-color: transparent;
  font-size: 10rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.2s ease-in-out;
}

.skill:hover {
  transform: scale(1.07) translateY(-1px);
}

/*---- Projects ----*/

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 9% 0 9%;
  background: var(--bg-color);
}

.pimg {
  height: 35rem;
  width: 35rem;
}

.projects h2 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.portfolio-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-around
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/*--- Services ----*/

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 9% 0 9%;
  background: var(--second-bg-color);
}

.services h2 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  width: 70rem;
  height: 30rem;
  background-color: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--second-bg-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* ---- Contact ---- */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 9% 0 9%;
  background: var(--bg-color);
}

.contact h2 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contact form {
  width: 80rem;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.form-status {
  margin-top: 15px;
  font-size: 14px;
  color: #00ff88;
}

/* ---- footer ---- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 0;   
  left: 0;
  width: 100%; 
  z-index: 1000;
  transform: translateY(100%);  
  transition: transform 0.2s ease;
}

.footer:hover{
  transform: translateY(0);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.3s ease-in-out;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.footer-iconTop a:hover {
  box-shadow: 0 0 0.3rem var(--main-color);
}